@import pme123.adapters.shared.{ClientType}

@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(context: String
        , clientType: ClientType
        , websocketPath: String
        , assets: AssetsFinder)(implicit r: Request[_], rh: RequestHeader)

@views.html.adapters.main(assets = assets
    , webJarsUtil = webJarsUtil
)(title = "Images Adapter"
    , icon = assets.withUrlPrefix(context).path("assets/images/favicon.png")
    , styles = Html("<link rel=\"stylesheet\" type=\"text/css\" href=\"" + assets.withUrlPrefix(context).path("assets/stylesheets/images.css") + "\">")
) {

    @scalajs.html.scripts("scala-adapters-images-client",
        routes.Assets.at(_).toString,
        name => getClass.getResource(s"/public/$name") != null)


     <script>client.ProjectClient.main("@context", "@websocketPath", "@clientType");</script>
}